.profile {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2.5rem;
}

.profile__data h3 {
  font-size: 1.5em;
  font-weight: normal;
  margin: 0;
}

.profile__data p, span {
  font-size: .75em;
}

.profile__data span {
  display: block;
  margin-bottom: 1rem;
}

.profile__data p:last-of-type {
  margin-top: 15px; 
}

.profile img {
  width: 120px; 
  height: 120px; 
  border-radius: 50%; 
  border: 2px solid #E5E5E5;
  object-fit: cover; 
}

